@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);

  --radius: 1rem;
}

/* LIGHT */
/* 
!! Hauria de funcionar amb HTML, no amb .light

-Si tienes esto en componentes:
 className="bg-white text-black"
 estás IGNORANDO completamente :root
-Deja de usar :root como fuente principal y haz esto:
 html
 html.light
 html.dark
*/
html.light {

  color-scheme: light;
  
  --color-background: #F5F7FA;
  --color-background2: #E2E8F0;
  --color-background3: #CBD5E1;
  
  --color-foreground: #0F172A;
  --color-foreground2: #334155;
  
  --color-card: #FDFDFD;
  --color-border: #99BFFF;
  
  --color-primary: #2F6FE4;
  --color-secondary: #1E5ED8;
  
  --color-muted: #a1a1aa;
  
}

/* DARK */

html.dark {
  color-scheme: dark;

  --color-background: #070C18;
  --color-background2: #1E293B;
  --color-background3: #334155;

  --color-foreground: #F1F5F9;
  --color-foreground2: #CBD5E1;
  
  --color-card: #18181b;
  --color-border: #93C5FD;

  --color-primary: #4C8DFF;
  --color-secondary: #6EA8FE;

  --color-muted: #a1a1aa;

}

/* :root < html*/
html {
    scroll-behavior: smooth;


}
* {
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;
}

body {
  /* background: var(--color-background); */

  color: var(--color-foreground);

  font-family: var(--font-sans);
}

/*  */