@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);

  --radius: 1rem;
}


/* :root < html
html {
    scroll-behavior: smooth;

}
*/

/* LIGHT */

html {

  color-scheme: light;
  
  --color-background: #F5F7FA;
  --color-background2: #E2E8F0;
  --color-background3: #CBD5E1;
  --color-background4: #6EA8FE;
  --color-background5: #C7E0FF;
  
  --color-foreground: #0F172A;
  --color-foreground2: #334155;
  
  --color-card: #FDFDFD;
  --color-border: #99BFFF;
  
  --color-primary: #2F6FE4;
  --color-secondary: #1E5ED8;
  
  --color-muted: #a1a1aa;
  
}

/* DARK */

html.dark {
  color-scheme: dark;

  --color-background: #070C18;
  --color-background2: #1E293B;
  --color-background3: #334155;
  --color-background4: #214A78;
  --color-background5: #193B60;

  --color-foreground: #F1F5F9;
  --color-foreground2: #CBD5E1;
  
  --color-card: #0F172A;
  --color-border: #93C5FD;

  --color-primary: #4C8DFF;
  --color-secondary: #6EA8FE;

  --color-muted: #a1a1aa;

}


* {
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;
}

body {
  background: var(--color-background);

  color: var(--color-foreground);

  font-family: var(--font-sans);
}
