@import "tailwindcss";

@theme {
  --radius: 1rem;
}

/*@layer base {h2 { }}*/
@layer components {
  .container-style {
    width: 100%;
    padding-inline: 4vw;
  }

  .section-style {
    min-height: 100vh;
    padding-top: calc(var(--spacing) * 6);
    padding-bottom: calc(var(--spacing) * 12);
  }
  .section-title {
    font-size: var(--text-5xl);
    font-weight: var(--font-weight-bold);
    line-height: var(--leading-tight);
  }
  .section-content {
    padding-inline: calc(var(--spacing) * 6);
  }

  @media (width >= 48rem) {
    .section-title {
      font-size: var(--text-7xl);
    }
  }
}

/* :root < html
html {
    scroll-behavior: smooth;
}
*/

/* LIGHT */

html {
  color-scheme: light;

  --color-background: #f5f7fa;
  --color-background2: #e2e8f0;
  --color-background3: #cbd5e1;
  --color-background4: #6ea8fe;
  --color-background5: #c7e0ff;

  --color-foreground: #0f172a;
  --color-foreground2: #334155;

  --color-card: #fdfdfd;
  --color-border: #80afff;

  --color-primary: #1e5ed8;
  --color-secondary: #2f6fe4;

  --color-muted: #a1a1aa;
}

/* DARK */

html.dark {
  color-scheme: dark;

  --color-background: #070c18;
  --color-background2: #1e293b;
  --color-background3: #334155;
  --color-background4: #2c609b;
  --color-background5: #193b60;

  --color-foreground: #f1f5f9;
  --color-foreground2: #cbd5e1;

  /* --color-card: #0f172a; 04060c, 060a14 */
  --color-card: #0f172a;
  --color-border: #93c5fd;

  --color-primary: #6ea8fe;
  --color-secondary: #4c8dff;

  --color-muted: #a1a1aa;
}

* {
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;
}

body {
  background: var(--color-background);

  color: var(--color-foreground);

  font-family: var(--font-inter);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation: none !important;
    scroll-behavior: auto !important;
    transition: none !important;
  }

  [style*="transform"] {
    transform: none !important;
  }
}

